<h1>Welcome</h1>
<p>Istherea. Intersecting people, place & time. </p>
<% unless signed_in? %>

 <div class="actions">
   <%= link_to "Sign up", new_user_registration_path, :class => 'large_button' %>
 </div>

<% end %>
