/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
    height:100%;
    width:100%;
    font-family:Verdana, Geneva, sans-serif;
    background:#333 url(bannerb.png) no-repeat center bottom fixed; -webkit-background-size: cover;
    margin:0;
    padding:0;
}


.HeadBlock {

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #444444, #000000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#000000));
  background-image: -webkit-linear-gradient(top, #444444, #000000);
  background-image: -o-linear-gradient(top, #444444, #000000);
  background-image: linear-gradient(to bottom, #444444, #000000);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000', GradientType=0);
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  position:relative;
  top:0;
  min-height:130px;
  margin-top:50px;
  margin-left:50px;
  margin-right:50px;

}

.HeadBlock h1 {
font-weight: normal;
 line-height: 1.5;
 color: #fff;
 width:300px;
 text-shadow: 0 1px 1px rgba(0,0,0,.4);
 margin-left:20px;
 padding:0;
 padding-top:10px;	
font-size:70px;	
}
.HeadBlock h4 {
font-weight: normal;
 line-height: 1.5;
 color: #fff;
 width:300px;
 text-shadow: 0 1px 1px rgba(0,0,0,.4);
 margin-left:20px;
 padding:0;
 padding-top:10px;	
font-size:20px;	
font-style:italic
}



.Text {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #F6F6F6, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F6F6), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #F6F6F6, #E6E6E6);
  background-image: -o-linear-gradient(top, #F6F6F6, #E6E6E6);
  background-image: linear-gradient(to bottom, #F6F6F6, #E6E6E6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F6F6', endColorstr='#E6E6E6', GradientType=0);
  border-color: #252525;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  margin-left: 50px;  
  margin-right: 50px;  
  padding:50px;
  border: 1px solid #E6E6E6;
  overflow: hidden;
  height:100%;
  min-height:180px;
  color:#000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Firefox */  
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);; /* Safari, Chrome */  
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* CSS3 */  
}

.disclaimer {

	margin-top:50px;
	margin-left:50px;
	margin-right:80px;
	color:#FFF;	
	text-align:right;
	font-size:20px;
	
}

.bText {
	margin-top:20px;
	margin-bottom:20px;
	margin-left:50px;
	margin-right:80px;
	color:#FFF;	
	text-align:right;
	font-size:11px;
	
}


    label {
        width: 23%;
        float:left;
        margin:5px;
        text-align:right;
        font-size:40px;
        height:20px;
        font-weight:normal;
        color:#333;
		text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
		behavior: url(css/PIE/PIE.php);
    }
    
    .line {
        width: 100%;
        margin:3px;
        float:left;
        height:72px;
        margin-bottom: 15px;
    }
	
.textBlock h1{
		font-size:50px;	
}
.textBlock h2{
		font-size:40px;	
}
.textBlock h3{
		font-size:32px;	
}
.textBlock h4{
		font-size:26px;	
}

 
.input_text {
        -webkit-border-radius:4px;
		font-size:50px;
        -moz-border-radius:4px;
        width:60%;
        border: 1px #CCC solid;
        float:left;
		height:56px;
        margin:5px;
		margin-left:50px;
        padding:3px;
        background:#FFFFFF;
        height:90px;
    }

buttonHolder{ 
    *text-align: center; 
}

.btn {
  display: inline-block;
  # display: inline;
  padding: 14px;
  margin-bottom: 0;
  margin-left: 200px;
  font-size: 70px;
  line-height: 70px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  #background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  #border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

check_box {
    width: 100px; 
    height: 100px;
}

.flash {
    font-size:32px;	
    }

#.flash.error .flash.alert{
    border: thin solid #8b0000;
    background: #ffc0cb;
}

#.flash.notice, .flash.info {
    border: thin solid #ff0;
    background: #ffe;
}

#.flash.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

nav {
  float: inherit;
  /* float: right;*/
  padding: 10px;
  
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #808080;
}

nav ul li a:visited {
  /*color: #09c;*/
 color: #A0A0A0;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #c0c0c0;
}
.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
/* Round corners */


.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

div.field, div.actions {
  *margin-bottom: 10px;
      width: 100%;
      margin:3px;
      float:left;
      height:100px;
      margin-bottom: 15px;  
      padding: 2px;
}
#.div.field_with_errors {
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
  padding: 1px;
  background-color: red;
  display: table;
}

div.field_with_errors label {
  color: red;
}

div.error_explanation {
  width: 3px;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

div.error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

div.error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

div.error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
