/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
/* Navigation */

nav {
  float: inherit;
  /* float: right;*/
  padding: 10px;
  
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #808080;
}

nav ul li a:visited {
  /*color: #09c;*/
 color: #A0A0A0;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #c0c0c0;
}
